ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding: 0;
}

.menu {
    background-image: linear-gradient(to right, rgb(56, 32, 32), rgb(60, 74, 100));
    padding: 15px; /**Espaçamento interno**/
    text-align: center;
    margin: 10px;
}

.menu li {
    display: inline
        /*deixa na horizontal*/
}

.menu a {
    color: white;
    text-decoration: none;
    /*retirar linha embaixo do link*/
    padding: 15px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.menu a:hover {
    background-color: #b61515;
}

h1 {
    color: navy;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}

p{
   line-height: 1.6;
   color: navy;
   font-family: monospace;
   font-size: 20px;

}

section{
    text-align: center;
    color: navy;
    font-family: monospace;
    line-height: 1.6;
}

section p{
    font-size: 20px;
    font-family: monospace;
}
body{
    background-color:azure ;
    text-align: center;
}

.galeria-imagen {
    display: flex;
    justify-content: space-between;
}