ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding: 0;
}

.menu {
    background-image: linear-gradient(to right, rgb(56, 32, 32), rgb(60, 74, 100));
    padding: 20px; /**Espaçamento interno**/
    text-align: center;
    margin: 10px;
}

.menu li {
    display: inline
        /*deixa na horizontal*/
}

.menu a {
    color: white;
    text-decoration: none;
    /*retirar linha embaixo do link*/
    padding: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.menu a:hover {
    background-color: #b61515;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}

h2{
    font-size: 30px;
}

p{
   line-height: 1.6;
   color: rgb(0, 0, 0);
   font-family: monospace;
   font-size: 20px;

}

section{
    text-align: center;
    color: rgba(0, 0, 2, 0.959);
    font-family: monospace;
    line-height: 1.6;
}

section p{
    font-size: 20px;
    font-family: monospace;
}
body{
    background-color: white;
    text-align: center;
}

.galeria-de-imagens {
    display: flex;
    justify-content: space-between;
}

button{
    width: 20%;
    color: rgb(1, 1, 58);
}

footer {
text-align: center;
padding-top: 1em;
border-top: 2px solid black;
font-size: 0.9em;
color: #030202;
}

hr{
    border: 2px solid black;
}